@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

html {
    background-color: black;
}

* {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: white;
}